* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: larger;
  font-family: 'Nunito', 'Trebuchet MS', sans-serif;
  text-align:center;
}
*::selection {background-color: gold;}
.love::selection {background-color: black;}
.very::selection {background-color:rgb(100, 200, 100);}

div, p, h1 {margin: 10px; padding: 10px}
.love {font-size: calc(1vw + 36px);color: orange;margin:0.5em 0;}
.very {font-weight: bold;}
.portfolio, .ps {margin:10px 0; color:green}
.portfolio {margin-bottom: 10px;}
iframe {border: none; width: 80%; height: 42vw;}
@media screen and (min-width: 650px){iframe {width: 62%; height: 31vw;}}


a, span {display:inline-block;margin:10px;padding:10px;text-decoration:none;border-radius:2px;background-color: rgb(209, 236, 155); color:#000}
a:focus,a:hover{background-color: orange ;}
hr {
	height: 1px;
	background-color: rgb(100, 150, 100);
  border: none;
  margin-top: 20px;
}

/* Dota section */
/* .padding {margin-top: 25px;} */
/* .Valery {display: flex; flex-direction: column; gap: 25px;} */
/* .Valery img {max-width: 100%;} */
